.heart {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 39px;
  height: 39px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  .heartIcon {
    font-size: 20px;
  }
  .heartIconRed {
    font-size: 20px;
    color: red;
  }
}
.warning-toast {
  background-color: blue !important;
  color: white !important;
}
